@import "~leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;

    font-family: Montserrat;
}

.app {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}
    
.map {
    z-index: 0;
    height: 100%;
}
    
.menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;

    outline: none;

    transition: all 0.3s ease-in-out;
}

.menu-toggle:hover {
    background-color: rgb(219, 219, 219);
}
    
.menu-popup {
    position: absolute;
    top: 70px;
    right: -320px;
    width: 300px;
    height: calc(100% - 120px);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;

}

.menu-popup.open {
    
    right: 20px;
}
  
    
.search-form {
    margin: 20px;
}
    
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
    
.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
}
    
.search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.marker-icon {
    font-size: 2em;
}

.marker__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.marker__text {
    font-size: 15px;
    text-align: center;

}