@import "~leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    
    font-family: Montserrat;
}


.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(61, 61, 61);
    z-index: 9999;
  }
  
  .preloader-text {
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
  }
  


.app {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh
}
    
.map {
    z-index: 0;
    height: 100%;
}

.leaflet-control-zoom {
    height: 100px;
    width: 50px;
    border: none !important;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.leaflet-touch .leaflet-bar a {
    width: 50px;
    height: 50px;

    background-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.25s ease-in-out;

    font-size: 40px;
    font-weight: 400;

    border-radius: 10px !important;
}
.leaflet-bar a:hover {
  background-color: #d3d3d3;
}

.leaflet-control-zoom {
    height: 100%;
    top: 5px;
    left: 5px;
}

.copyright {
    position: fixed;
    bottom: 12px;
    left: calc(50% - 200px);

    padding: 0 10px;
    width: 400px;
    height: 30px;

    font-size: 16px;
    color: #333;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


    display: flex;
    align-items: center;
    justify-content: center;
}



.copyright a {
    padding-left: 5px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
    transition: all 0.12s ease-in-out;
}

.copyright a:hover {
    color: #777;
}

/* .watermark{
    background-color: #dadada; 
    position: fixed;
    width: 66px;
    height: 18px;
    right: 0;
    bottom: 0;
} */


    
.menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    color: #333;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;

    outline: none;

    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-toggle:hover {
    background-color: rgb(219, 219, 219);
}
    
.menu {
    position: absolute;
    top: 70px;
    right: -400px;
    min-width: 300px;
    height: calc(100% - 120px);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.menu.open {
    right: 20px;
}
  
    
.search {
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 100;

    transition: all 0.3s ease-in-out;

    padding-bottom: 10px;
}

.search--scrolled {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

}

.search-form {
    margin: 20px;
}
    
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
    
.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
}


    
.search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.menu-items::-webkit-scrollbar {
    display: none;
}

.menu-items {
    height: calc(100% - 80px);
    overflow-y: auto;
}



.menu-item {
    width: 300px;
    margin: 0 10px;
    margin-bottom: 1.5em;

    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 10px;

    transition: all 0.2s ease-in-out;

}

.menu-item:first-child {
    margin-top: 30px;
}

.menu-item:last-child {
    margin-bottom: 120px;
}

.menu-item:hover {
    background-color: #bebebe;
}

.menu-item__title {
    font-weight: 700;
    padding-bottom: .5em;
}

.menu-item__text {
}

.marker-icon {
    font-size: 2em;
}


.marker__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.marker__text {
    font-size: 15px;
}

.leaflet-popup-content-wrapper {
    text-align: center;
}






@media (max-width: 450px) {
    .copyright{
        width: 100%;
        border-radius: 0px;
        bottom: 0;
        left: 0;
    }

    .menu {
        width: 100%;
        height: 100%;
    }

    .menu.open {
        width: 100%;
        right: 0;
    }
    
    .menu-item {
        width: calc(100% - 40px);   
    }
}
